# TODO: move this to pyproject.toml when 2.5+ is released
# https://github.com/PyCQA/pylint/issues/617

[MASTER]

extension-pkg-whitelist=lxml
ignore=CVS
persistent=yes
jobs=1

[MESSAGES CONTROL]

disable=
    bad-continuation,  # clashes with black
    line-too-long,  # clashes with black
    ungrouped-imports, # clashes with isort
    wrong-import-position,  # clashes with isort
    missing-docstring,
    fixme,
    too-few-public-methods,  # this seems useless


[BASIC]

good-names=_,e,el,ex,f,tp,v

[FORMAT]

indent-string='    '
